@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.cards-div {
  margin: 0.5em;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 8px;
  box-sizing: border-box;
}

.cards-div > * /*.pokemon-div*/ {
  color: white;
  /*background-color: rgb(47, 236, 195);*/
  text-align: center;
  box-sizing: border-box;
}

.fire {
  background-color: #cb4335;
}

img {
  max-width: 80%;
}
