@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.cards-div {
  margin: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.cards-div > * /*.pokemon-div*/ {
  color: white;
  /*background-color: rgb(47, 236, 195);*/
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  background-color: red;
}

/*.types-preview {
  background-color: yellow;
}*/

.grass-preview-mult,
.fire-preview-mult,
.water-preview-mult,
.bug-preview-mult,
.normal-preview-mult {
  display: grid;
  /*box-sizing: border-box;*/
  /*grid-gap: 7px;*/
  grid-template-columns: repeat(auto-fill, minmax(46%, 1fr));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  grid-gap: 10px;
  padding: 3%;
  box-sizing: border-box;
  /*width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;*/
}

.grass-preview-mult > *,
.fire-preview-mult > *,
.water-preview-mult > *,
.bug-preview-mult > *,
.normal-preview-mult > * {
  box-sizing: border-box;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: -0.2%;
  border-radius: 50px;
}

.grass-preview-sing,
.fire-preview-sing,
.water-preview-sing,
.bug-preview-sing,
.normal-preview-sing {
  display: grid;
  grid-template-columns: repeat(auto-fill);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grass-preview-sing > *,
.fire-preview-sing > *,
.water-preview-sing > *,
.bug-preview-sing > *,
.normal-preview-sing > * {
  box-sizing: border-box;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: -0.2%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.grass {
  background-color: #48c9b0;
}

.grass-preview-mult >*,
.grass-preview-sing >* {
  background-color: #50ddc1;
  /*height: 100%;*/
}



.fire {
  background-color: #ec7063;
}

.fire-preview-mult >*,
.fire-preview-sing >* {
  background-color: #fc796a;
}

.water {
  background-color: #85c1e9;
}

.water-preview-mult >*,
.water-preview-sing >* {
  background-color: #92d2fc;
}

.bug {
  background-color: #bbf25b;
}

.bug-preview-mult >*,
.bug-preview-sing >* {
  background-color: #c3fd5f;
}

.normal {
  background-color: #f0b27a;
}

.normal-preview-mult >*,
.normal-preview-sing >* {
  background-color: #fcba81;
}

img {
  max-width: 80%;
}
